@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Attendance System</title>    
    @Styles.Render("~/Content/css")    
    <link href="~/Content/bootstrap-lumen.min.css" rel="stylesheet" />
</head>
<body>    
    <div class="banner">        
        <div class="container-main">
            <h3>AMRY For Software Development</h3>
            <a href="/Account/Login" class="btn btn-success">LOGIN</a>
        </div>
    </div> 

    <script>
        const banner = document.querySelector('.banner');
        banner.style.height = window.innerHeight + "px";
    </script>
</body>
</html>